:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
   */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}
nav {
  background-color: rgb(119, 109, 109);
}

.error {
  width: 700px;
  margin: auto;
}
.error img {
  width: 100%;
}
.spinner-border {
  height: 100px;
  width: 100px;
  margin-top: 50px;
}
main {
  margin-top: 100px;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
.bar {
  cursor: pointer;
}
.nav-page {
  width: 250px;
}
.Hoempage-img {
  width: 100%;
}
.shopnow {
  min-width: 200px;
  padding: 10px;
  font-weight: bold;
}
.section {
  width: 100%;
  height: 500px;
  margin-top: 80px;
}

.middle-section {
  padding-top: 80px;
}
.mission {
  margin-top: 80px;
}
.item {
  background-color: red !important;
}
.homecard {
  box-shadow: 5px 5px lightgray;
  border: 1px solid lightgray;
  /* background-color: #807b7b; */
}
.footer {
  display: grid;
  background-color: rgb(85, 50, 8);
  place-items: center;
  width: 100%;
  height: 100px;
}
.footer h1 {
  font-size: 20px;
  color: white;
}

footer {
  margin-top: 120px;
}
body {
  margin: 0px;
  padding: 0px;
}
.productImg {
  margin: auto;
  width: 150px;
  height: 150px;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
.active-btn {
  border: none;
  outline: none;
  box-shadow: 0 3px rgb(255, 217, 4);
}
.Categorybtn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Categorybtn button {
  background: transparent;
  border-color: transparent;
  font-size: 20px;
  width: 180px;
  padding: 5px 0px;
}

.total {
  max-width: 300px;
  padding: 15px;
}

.underline {
  width: 3rem;
  height: 0.21rem;
  background: gold;
  margin: auto;
}
.products {
  display: flex;
  margin: auto;
  gap: 30px;
  width: 80%;
  flex-wrap: wrap;
}

.product {
  background-color: transparent;
  margin-top: 30px;
  width: 280px;
  box-shadow: 0px 2px goldenrod;
  border: 1px solid gold;
  border-radius: 10px;
}
.product-view img {
  width: 70%;
}
.product-view button {
  width: 100px;
  height: 20px;
  color: gold;
  font-size: 19px;
}
.cartbody {
  width: 90%;
  margin: auto;
  background-color: transparent;
}

.form {
  width: 100%;
  padding: 10px;
  margin: auto;
  padding-top: 30px;
}

@media only screen and (min-width: 600px) {
  .form {
    width: 500px;
  }
  .cartbody {
    width: 50%;
  }
}

label {
  font-size: 19px;
  color: goldenrod;
  display: flex;
  justify-content: start;
}
.form-control {
  background-color: transparent;
}
.form-control :focus {
  outline: black !important;
  border-color: black !important;
  box-shadow: none !important;
}
input {
  font-size: 18px;
  padding: 10px;
}
.alert p {
  font-size: 20px;
  color: goldenrod;
}
